.card {
  background: white;
  border-radius: 2vh;
  box-shadow: 1.5vh 1.5vh 1.2vh #222;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  height: 28vh;
  justify-content: center;
  position: absolute;
  transition: 0.5s;
  width: 18vh;
}

.card.selected {
  background: #9944ff;
}

.card.y0 {
  top: 2vh;
}
.card.y1 {
  top: 33vh;
}
.card.y2 {
  top: 64vh;
}
.card.x0 {
  left: 2vh;
}
.card.x1 {
  left: 23vh;
}
.card.x2 {
  left: 44vh;
}
.card.x3 {
  left: 65vh;
}
.card.x4 {
  left: 86vh;
}
.card.x5 {
  left: 97vh;
}
.card.x6 {
  left: 118vh;
}

.card .shape {
  box-sizing: border-box;
  height: 6.75vh;
  width: 100%;
}

.card.prop00 .shape use {
  stroke: #c60000;
  fill: #c60000;
  color: #c60000;
}

.card.prop01 .shape use {
  stroke: #005400;
  fill: #005400;
  color: #005400;
}

.card.prop02 .shape use {
  stroke: #4812a2;
  fill: #4812a2;
  color: #4812a2;
}

.card.prop30 .shape use {
  color: transparent;
}

.card.prop31 .shape use {
  fill: none;
  stroke-width: 8px;
}

.card.prop32 .shape use {
  color: transparent;
  fill: none;
  stroke-width: 8px;
}
