.set {
  border: 3px solid red;
  border-radius: 20px;
  box-sizing: border-box;
  height: 96vh;
  margin: 2vh auto;
  min-width: 14vw;
}

.set .info {
  display: flex;
  flex-flow: row nowrap;
  font-size: 16px;
  height: 7vh;
  justify-content: space-between;
  padding: 13px 25px;
  width: 100%;
}

.set .score {
  text-align: left;
}

.set .setsLeft {
  text-align: right;
}

.set .cards {
  height: 680px;
  position: relative;
  width: 100%;
}

.gameOverScreen {
  background-image: linear-gradient(135deg, rgba(102,51,238,0.9), rgba(170,170,170,0.9));
  border-radius: 20px;
  box-sizing: border-box;
  color: #fff;
  display: none;
  font-size: 20px;
  height: 160px;
  left: 50%;
  padding: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 340px;
  z-index: 10;
}

.gameOverScreen p {
  margin: 0px 0px 10px 0px;
}

.set.gameOver .gameOverScreen {
  display: block;
}

.gameOverScreen .btn {
  background-image: linear-gradient(160deg, rgba(136,136,221,1), rgba(102,102,221,1));
  border-radius: 5px;
  cursor: pointer;
  display: block;
  font-size: 18px;
  height: 30px;
  margin: 15px auto 0px;
  padding: 5px;
  width: 120px;
}

.set.w0 {
  width: 3vh;
}
.set.w1 {
  width: 24vh;
}
.set.w2 {
  width: 45vh;
}
.set.w3 {
  width: 66vh;
}
.set.w4 {
  width: 87vh;
}
.set.w5 {
  width: 108vh;
}
.set.w6 {
  width: 129vh;
}
.set.w7 {
  width: 150vh;
}
